<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
<div>
    <button class="btn btn--accent btn--big">Get Started</button></div>
    <div><button class="btn btn--outline btn--big">Buy Now</button></div>
    <div><button class="btn btn--secundary">Get Started</button></div> 
    
    <a class="btn btn--accent btn--big btn--block" href="#">Get Started</a>
    <a class="btn btn--outline btn--big btn--block" href="#">Buy Now</a>
    <a class="btn btn--secundary btn--block" href="#">Get Started</a>
</body>
</html>